POSTGRES_USER=postgres
POSTGRES_PASSWORD=dfSDGlknksdfk23313ppmsdfnspdINDFspmop2353edvfg
POSTGRES_DB=appdb
PGX_CONN_LOCAL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@127.0.0.1:5432/${POSTGRES_DB}?sslmode=disable
PGX_CONN_DOCKER=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable